<script>

    function showErrorModal(context) {
        console.log('error! need to implement modal!');
        console.log(context);
    }

    function handleUIError(context) {
        showErrorModal(context);
    }

    function onAjaxError(error) {
        console.log(error);
        if(error) {

            if (error.status === 401) {
                handleUIError({
                    title: '<i class="fa fa fa-exclamation-triangle"></i>&nbsp;Problem',
                    content: 'Not Found'
                });
            } else if (error.responseJSON && error.responseJSON.message) {
                let errorMessage = error.responseJSON.message;
                handleUIError({
                    title: '<i class="fa fa fa-exclamation-triangle"></i>&nbsp;Problem',
                    content: errorMessage
                });
            } else if (error && error.message) {
                handleUIError({
                    title: '<i class="fa fa fa-exclamation-triangle"></i>&nbsp;Problem',
                    content: error.message
                });
            } else {
                handleUIError({
                    title: '<i class="fa fa fa-exclamation-triangle"></i>&nbsp;Problem',
                    content: "Unknown problem occurred. Error code: " + error.status
                });
            }
        } else {
            handleUIError({
                title: '<i class="fa fa fa-exclamation-triangle"></i>&nbsp;Problem',
                content: "Unknown error occurred"
            });
        }
    }

    function customAjax(endPoint, data, options) {
        let defaults = {
            type: 'GET',
            // contentType: 'application/x-www-form-urlencoded',
            // contentType: 'text/plain'
            contentType: 'application/json',
            url : endPoint,
            data : data,
            dataType: 'json',
            timeout: 3000,
            cache: false,
            complete: function(jqXHR, textStatus) {},
            success: function(data, textStatus, jqXHR) {},
            error: function(jqXHR, textStatus, errorThrown) {}
        }
        // combine options with defaults
        let actual = $.extend({}, defaults, options || {});
        // call the jquery ajax function. this returns a promise
        return $.ajax(actual);
    }

    function getAjax(endPoint, data, options) {
        return customAjax(endPoint, data, $.extend({}, {type:'GET'}, options || {}))
                .catch(onAjaxError);
    }

    function postAjax(endPoint, data, options) {
        return customAjax(endPoint, data, $.extend({}, {type:'POST'}, options || {}))
                .catch(onAjaxError);
    }

    function deleteAjax(endPoint, data, options) {
        return customAjax(endPoint, data, $.extend({}, {type:'DELETE'}, options || {}))
                .catch(onAjaxError);
    }

</script>