<link rel="stylesheet" href="/webjars/bulma/0.9.4/css/bulma.css">
<link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/fontawesome.css">
<link rel="stylesheet" href="/webjars/datatables/1.12.1/css/dataTables.bulma.min.css">
<style>
    .is-hoverable tbody tr {
        cursor: pointer;
    }

    .is-hoverable {
        cursor: pointer;
    }

    .progress::-webkit-progress-bar {
        background-color: #f14668;
    }
</style>