{{>_ajaxHelpers}}

<script>

    function initNavBar() {
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    }

    function getWorkers() {
        return getAjax('/cherry/api/worker/list', {}, {})
    }

    function getWorker(workerName) {
        return getAjax(`/cherry/api/worker/detail?workerName=${workerName}`, {}, {})
    }

    function getTemplate(templateName) {
        return getAjax(`/templates/${templateName}`, "", {contentType: 'text/plain', dataType: "html"})
    }

    function onWorkerClick(table) {
        return function(e) {
            let workerName = table.row(this).data().workerName;
            getWorker(workerName).then(function (worker) {
                getTemplate("_workerDetail.mustache").then(function(template){
                    let html = Mustache.render(template, {worker: worker});
                    $('#workerModal .modal-card .modal-card-head .modal-card-title .title').html(worker.name);
                    $('#workerModal .modal-card .modal-card-head .modal-card-title .subtitle').html(worker.className);
                    $('#workerModal .modal-card .modal-card-body').html(html);
                    $('#workerModal').addClass("is-active");
                });
            });
        }
    }

    function initWorkersTable() {
        let data = [];
        getWorkers().then(function(result) {
            if(result) {
                for(const k in result) {
                    let worker = result[k];
                    data.push ({
                        workerName: worker.name,
                        workerType: worker.className
                    })
                }

                let table = $('#workersTable').DataTable({
                    data: data,
                    columns: [
                        {data: 'workerName'},
                        {data: 'workerType'}
                    ]
                });

                $('.dataTable').on('click', 'tbody tr', onWorkerClick(table));
            }

        });
    }
</script>
