<table id="workersTable" class="table">
    <thead>
    <tr>
        <th>Worker Name</th>
        <th>Class Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>