<table id="runnersTable" class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th>Runner Name</th>
        <th>Type</th>
        <th>Type Runner</th>
        <th>Class Name</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<div id="workerModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="title">Modal title</span>
                <br/>
                <span class="subtitle">Modal subtitle</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button">Close</button>
        </footer>
    </div>
</div>