<div>
    <h3 class="title is-3">Inputs</h3>
    <table id="runnerInputsTable" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Class</th>
            <th>Default</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {{#worker.listInput}}
            <tr>
                <td>{{name}}</td>
                <td>{{explanation}}</td>
                <td>{{clazz}}</td>
                <td>{{defaultValue}}</td>
                <td>{{level}}</td>
            </tr>
        {{/worker.listInput}}
        </tbody>
    </table>
    <h3 class="title is-3">Outputs</h3>
    <table id="runnerOutputsTable" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Class</th>
            <th>Default</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {{#worker.listOutput}}
            <tr>
                <td>{{name}}</td>
                <td>{{explanation}}</td>
                <td>{{clazz}}</td>
                <td>{{defaultValue}}</td>
                <td>{{level}}</td>
            </tr>
        {{/worker.listOutput}}
        </tbody>
    </table>
    <h3 class="title is-3">Types of Errors</h3>
    <div class="content">
        <table id="runnerOutputsTable" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Explanation</th>
            </tr>
            </thead>
            <tbody>
            {{#worker.listBpmnErrors}}
                <tr>
                    <td>{{code}}</td>
                    <td>{{explanation}}</td>
                </tr>
            {{/worker.listBpmnErrors}}
            </tbody>
        </table>
    </div>
</div>