<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeebe Cherry Framework</title>
    {{>_css}}
</head>

<body>
{{>_nav}}
<section class="section">
    <div class="container">
        <h1 class="title">Zeebe Runners (Workers and connectors)</h1>

        <div class="block">
            {{>_workersTable}}
        </div>
    </div>

</section>

{{>_js}}
{{>_customJs}}

<script>
    $(document).ready( function () {
        initNavBar();
        initModals();
        initWorkersTable();
        console.log("workers initialized. Last update: 2022-07-16 01");
    } );
</script>
</body>

</html>
