<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeebe Cherry Framework</title>
    {{>_css}}
</head>

<body>
{{>_nav}}
<section class="section">
    <div class="workerHeader"></div>
    <div class="container">
        <h1 class="runner-name title is-size-1">
            {{#logo}}<img width="50px" style="padding-right:10px" src="{{logo}}"/>{{/logo}}
        </h1>
        <div class="tabs">
            <ul>
                <li class="is-active"><a data-tpl="runner/_overview.mustache">Overview</a></li>
                <li><a data-tpl="runner/_description.mustache">Description</a></li>
                <li><a data-tpl="runner/_inputs.mustache">Inputs</a></li>
                <li><a data-tpl="runner/_outputs.mustache">Outputs</a></li>
                <li><a data-tpl="runner/_errortypes.mustache">Types of Errors</a></li>
            </ul>
        </div>
        <div id="tab-content"></div>
    </div>
</section>

{{>_js}}
{{>_customJs}}

<script>

    function initStartStopWorker() {
        $('.start-runner').on('click', function(e){
            let runnerName = $(e.target).data('runner-name');
            startRunner(runnerName).then(function(){
                window.location = "/worker?runnerName="+runnerName;
            });
        });
        $('.stop-runner').on('click', function(e){
            let runnerName = $(e.target).data('runner-name');
            stopRunner(runnerName).then(function(){
                window.location = "/worker?runnerName="+runnerName;
            });
        });
    }

    function showTab(runner, templateName, tab) {
        getTemplate(templateName).then(function(template){
            let html = Mustache.render(template, runner);
            $('#tab-content').html(html);
            if(tab) {
                $('.tabs li').removeClass("is-active");
                tab.addClass("is-active");
            }
            initStartStopWorker();
        });
    }

    function getWorkerId() {
        const urlParams = new URLSearchParams(location.search);
        let runnerName = urlParams.get('runnerName');

        if(runnerName) {
            getWorker(runnerName).then(function(runner){
                console.log(runner);
                initTabs(runner);
                showTab(runner, "runner/_overview.mustache");
            });
        } else {
          console.error("Unable to find runner from query parameter?! Make sure to pass a valid '?runnerName=<runnerName>'");
        }
    }

    function initTabs(runner) {
      $(".tabs a").on('click', function(e) {
          e.preventDefault();
          let tpl = $(e.target).data('tpl');
        let tab = $(e.target).parent();
        showTab(runner, tpl, tab);
      })
    }

    $(document).ready( function () {
        initNavBar();
        getWorkerId();
        // render overview
        getTemplate("runner/_header.mustache").then(function(template){
            const urlParams = new URLSearchParams(location.search);
            let runnerName = urlParams.get('runnerName');
            getWorker(runnerName).then(function(runner){
                let html = Mustache.render(template, runner);
                $('.workerHeader').html(html);
            });
        });

        //$('.workerHeader').html(html);
    } );
</script>
</body>

</html>
