
cherry:
  connectorslib:
    uploadpath: ./localstorage/upload
    classloaderpath: ./localstorage/classloader
    forcerefresh: false
  runners:
    # the runtime load all embedded runners
    embeddedrunner: true

    # the runtime load ping runners - attention, pingConnector and pingObjectConnector are embedded
    pingrunner: false

# use a OnPremise Zeebe engine
  zeebe:
    client:
      broker:
        gateway-address: 127.0.0.1:26500
        plain-text: true
    # zeebe.client.broker.gateway-address=host.docker.internal:26500
      security.plaintext: true
      number-of-threads: 100
      max-jobs-active: 100

    # use a cloud Zeebe engine
  # zeebe.client.cloud.region=bru-2
  # zeebe.client.cloud.clusterId=f867aa3d-5ee7-4324-96e8-21f557f104af
  # zeebe.client.cloud.clientId=si71NBAWtUlREmfKja5oQC3M.WsT~sHa
  # zeebe.client.cloud.clientSecret=pCTITndkvyNsaSkfJ-ji5w38vaP19QAXWURM3UVC1.J.eVyxa44uITFv3_c8iFi2



  worker:
    maxJobsActive: 10
    threads: 10


zeebe:
  client:
    broker:
      gateway-address: 127.0.0.1:26500
      plain-text: true
    # zeebe.client.broker.gateway-address=host.docker.internal:26500
    security.plaintext: true


camunda:
  client:
    mode: simple
    zeebe:
      enabled: true
      gateway-url: http://localhost:26500
      prefer-rest-over-grpc: false
      defaults:
        max-jobs-active: 30
      execution-threads: 14


server.port: 9081
logging.level.root: INFO

# return message with BAD_REQUEST to the client
server.error.include-message: always



# Spring Boot Configuration
spring:
  application.name: ZeebeCherry
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB


  jpa:
    generate-ddl: true
    hibernate.ddl-auto: "update"

    properties:
      hibernate:
        format_sql: true
        show-sql: true


# spring.datasource:
#   url: "jdbc:h2:file:./cherry.db"
#   driver-class-name: "org.h2.Driver"
#   username: "sa"
#   password: "password"
# spring.jpa.database-platform: "org.hibernate.dialect.H2Dialect"

# Save statistics and information

# --------------------- Postgres
  datasource:
    url: "jdbc:postgresql://localhost/cherrydb"
    username: "camunda"
    password: "camunda"
    driver-class-name: "org.postgresql.Driver"
  jpa.database-platform: org.hibernate.dialect.PostgreSQLDialect

org2:
  hibernate:
    dialect:
      dialect: org.hibernate.dialect.PostgreSQLDialect
# hibernate.jdbc.use_streams_for_binary: true

# spring.datasource.validation-query: SELECT 1;
# --------------------- H2
# spring.datasource:
#  url: "jdbc:h2:file:./cherry.db"
#  driver-class-name: "org.h2.Driver"
#  username: "sa"
#  password: "password"
# spring.jpa.database-platform: "org.hibernate.dialect.H2Dialect"
# org.hibernate.dialect: H2Dialect







# logging.level.org.hibernate.SQL: TRACE
# logging.level.org.hibernate.type.descriptor.sql.BasicBinder: TRACE
# logging.level.org.hibernate.postgresql : TRACE
# spring.jpa.properties.hibernate.show_sql: true
# spring.jpa.properties.hibernate.use_sql_comments: true
# spring.jpa.properties.hibernate.format_sql: true
