<table id="beansTable" class="table">
    <thead>
    <tr>
        <th>Worker Name</th>
        <th>Class Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>pingWorker</td>
        <td>org.camunda.cherry.ping.PingWorker</td>
    </tr>
    </tbody>
</table>