<link rel="stylesheet" href="/webjars/bulma/0.9.3/css/bulma.css">
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/webjars/datatables/1.11.4/css/dataTables.bulma.min.css">