{{>_ajaxHelpers}}

<script>
    function initNavBar() {
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    }

    function getBeans() {
        return getAjax('/actuator/beans', {}, {})
    }

    function initBeansTable() {
        let data = [];
        getBeans().then(function(result) {
           if(result && result['contexts'] && result['contexts']['ZeebeCherry'] && result['contexts']['ZeebeCherry']['beans']) {
               let beans = result['contexts']['ZeebeCherry']['beans']
               for(const bean in beans) {
                   if(bean.endsWith('Worker')) {
                       data.push ({
                           workerName: bean,
                           workerType: beans[bean].type
                       })
                   }
               }
           }

            $('#beansTable').DataTable({
                data: data,
                columns: [
                    {data: 'workerName'},
                    {data: 'workerType'}
                ]
            });
        });
    }

</script>
