<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/datatables/1.11.4/js/jquery.dataTables.js"></script>
<script src="/webjars/datatables/1.11.4/js/dataTables.bulma.js"></script>