<div>
    <table id="runnerOutputsTable" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Class</th>
            <th>Default</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {{#listOutput}}
            <tr>
                <td>{{name}}</td>
                <td>{{explanation}}</td>
                <td>{{clazz}}</td>
                <td>{{defaultValue}}</td>
                <td>{{level}}</td>
            </tr>
        {{/listOutput}}
        </tbody>
    </table>

</div>